.containerSpettacolo {
    height: 15% !important;
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-top: 40px;
}

.other {
    height: 250px !important;
}

.copertina {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.text {
    color: #CFAF6C;
    font-size: 30px;
    margin-left: 30px;
}

.buttonVisualizza {
    position: absolute !important;
    right: 40px;
    background-color: #256D58 !important;
}

.textSmall {
    color: white;
    font-size: 25px;
}

.textRisultati {
    color: #CFAF6C;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}