.scrollable-list {
    height: 90%;
    /* Adjust this value as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    width: 100%;
}

.stack {
    width: 100%;
}

.title {
    color: white;
    font-size: 50px;
    margin-left: 5%;
}

.gridTop {
    height: 10% !important;
}

.iconAdd {
    width: 120px;
    height: 50px;
    color: white !important;
    background-color: #CFAF6C !important;
}

.containerAll {
    width: 100% !important;
    height: 100% !important;
    background-position: center;
    background-size: cover;
}

.topRowHome {
    height: 30% !important;
}

.bottomRowHome {
    height: 70% !important;
    /* From https://css.glass */
    background: rgba(137, 135, 135, 0.62);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}

.iconText {
    color: white;
    font-size: 35px !important;
    text-align: center;
}

.iconSpettacolo {
    color: white;
    font-size: 60px !important;
    text-align: center;
}

.sxHome,
.dxHome {
    height: 100% !important;
}

.sxHome {
    border-right: white 1px solid;
}


.gridDxTop,
.gridSxTop {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.my-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart {}